<div class="container-fluid">

  <div class="col-sm-3">
    <p><b>Teachers by subject</b></p>

    <div style="margin: 10px 0;">
      <select id="select_subject" class="form-control" (change)="loadTeacherList()">
        <option value="All">All</option>
        <option value="{{sub.name}}" *ngFor="let sub of subjects">{{sub.name}}</option>
      </select>
    </div>

    <div class="list-group">
      <a class="list-group-item" *ngFor="let teacher of teachers"
         (click)="loadDetails(teacher.username)" id="{{teacher.username}}"
         style="cursor: pointer;">{{teacher.fullname}}</a>
    </div>
  </div>

  <div class="col-sm-9">
    <div id="detail_label">
      <div class="col-sm-2 sup_detail">
        <span>Username</span>
      </div>
      <div class="col-sm-9 sup_detail">
        <b>{{curTeacher.username}}</b>
      </div>
      <br>
      <div class="col-sm-2 sup_detail">
        <span>Name</span>
      </div>
      <div class="col-sm-9 sup_detail">
        <b>{{curTeacher.name}}</b>
      </div>
      <br>
      <div class="col-sm-2 sup_detail">
        <span>Contact</span>
      </div>
      <div class="col-sm-9 sup_detail">
        <b>{{curTeacher.contact}}</b>
      </div>
      <br>
      <div class="col-sm-2 sup_detail">
        <span>Address</span>
      </div>
      <div class="col-sm-9 sup_detail">
        <b>{{curTeacher.address}}</b>
      </div>
      <br>

      <div class="col-sm-12 sup_detail">
        <span>Subjects</span>
      </div>
      <div class="col-sm-12 sup_detail">
        <span class="label label-default" *ngFor="let sub of curTeacher.subjects" style="cursor: pointer;"
              id="{{sub.s_no}}" (click)="subjectDetails(sub)">{{sub.name}}</span>
        <span class="label label-success" style="cursor: pointer;" (click)="subjectDetails('new')">Add subject</span>
      </div>

      <div class="sup_detail col-sm-5 subject_box" *ngIf="showSubDetails">
        <p><b>{{subjectBoxMsg}}</b></p>
        <span>Name - {{curSubject.name}}</span>
        <span *ngIf="curSubject.instrument != null">Instrument - {{curSubject.instrument}}</span>
        <p><button class="btn btn-sm btn-danger" (click)="removeSubject()">Remove from teacher</button></p>
      </div>

      <div class="sup_detail col-sm-5 subject_box" *ngIf="showSubjectAdd">
        <p><b>{{subjectBoxMsg}}</b></p>
        <div *ngIf="!addNewSubject">
          <select class="form-control">
            <option value="{{sub.name}}" *ngFor="let sub of subjects">{{sub.name}}</option>
          </select>
          <p><button class="btn btn-sm btn-success" (click)="selectSubjectToTeacher()">Add to teacher</button></p>
        </div>
        <div *ngIf="addNewSubject">
          <p><label>Name</label><input type="text" class="form-control"></p>
          <p><label>Instrument</label><input type="text" class="form-control"></p>
          <p><button class="btn btn-sm btn-success" (click)="newSubjetToTeacher()">Add to teacher</button></p>
        </div>
        <input type="checkbox" (change)="addSubject()"><label>Add new subject</label>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-4" id="table_title">
        <b> Invoices from supplier,</b>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Invoice No</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>I0023</td>
          <td>23-03-2017</td>
          <td>Rs. 10000</td>
        </tr>
        <tr>
          <td>I0023</td>
          <td>23-03-2017</td>
          <td>Rs. 10000</td>
        </tr>
        <tr>
          <td>I0023</td>
          <td>23-03-2017</td>
          <td>Rs. 10000</td>
        </tr>
        <tr>
          <td>I0023</td>
          <td>23-03-2017</td>
          <td>Rs. 10000</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>



