<div class="container-fluid">
  <div class="col-sm-12"  style="padding: 10px;">
    <button class="btn btn-info btn-lg" (click)="goToProfile(userService.getCurrentUser().username)">My Profile</button>
    <button *ngIf="userService.getCurrentUser().type === 'admin'"
      class="btn btn-success btn-lg" (click)="goToProfile('new_user')">New User</button>

    <p style="margin: 10px 0 0 0;">
      <input type="checkbox" (change)="getUsers()" [(ngModel)]="teacher"><label style="padding: 10px 15px 0 5px;"> Teachers</label>
      <input type="checkbox" (change)="getUsers()" [(ngModel)]="admin"><label style="padding: 10px 15px 0 5px;"> Admins</label>
    </p>
  </div>

  <div class="col-sm-3" style="padding: 0 10px;">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let user of users" id="{{user.username + '_user'}}"
         (click)="loadUserDetail(user.username)">{{user.username}}</a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="col-sm-2" style="text-align: right">
      <b>User details</b>
    </div>
    <br>

    <div class="col-sm-2  user_detail" style="text-align: left">
      <span>Username</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>{{selectedUser.username}}</b>
    </div>
    <br>
    <div class="col-sm-2  user_detail" style="text-align: left">
      <span>Name</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>{{selectedUser.name}}</b>
    </div>
    <br>
    <div class="col-sm-2  user_detail" style="text-align: left">
      <span>Type</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>{{selectedUser.type}}</b>
    </div>
  </div>

</div>


