<div class="container-fluid">

  <div class="col-sm-12" id="date_select">
    <div class="form-group" >
      <label class="control-label">From : </label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group">
      <label class="control-label">To : </label>
      <input type="date" class="form-control">
    </div>
    <hr>
  </div>

  <div class="col-sm-12">
    <p><b>Invoice statistics,</b></p>

    <div class="col-sm-12">
      <div class="form-group">
        <label class="control-label" style="text-align: right">Select supplier:</label>
        <select class="form-control">
          <option>All</option>
          <option>Altal bookshop</option>
          <option>Edisirisngd sflksd and sons</option>
          <option>Ahsna Madushanka Kooragoda</option>
        </select>
      </div>
    </div>
    <br>

    <div class="col-sm-3" style="text-align: right">
      <b>Numbers of invoices :</b>
    </div>
    <div class="col-sm-9">
      <span>35445</span>
    </div>
    <div class="col-sm-3" style="text-align: right">
      <b>Total amount :</b>
    </div>
    <div class="col-sm-9">
      <span>Rs.440044444</span>
    </div>
  </div>

  <div class="col-sm-12">
    <hr>
    <p><b>Expenses statistics,</b></p>

    <div class="col-sm-3" style="text-align: right">
      <b>Numbers of expenses :</b>
    </div>
    <div class="col-sm-9">
      <span>35445</span>
    </div>
    <div class="col-sm-3" style="text-align: right">
      <b>Total amount :</b>
    </div>
    <div class="col-sm-9">
      <span>Rs.440044444</span>
    </div>
  </div>

</div>
